<!--  наследуемся от шаблона default.html -->
{% extends 'default.html' %}

{% load own_filters %}

<!-- Название страницы в теге title -->
{% block title %}
Post
{% endblock title %}

<!-- Здесь формируется контент страницы для записи, идентификатор которой был передан в url -->
{% block content %}
<h1>{{ post.title|censor }}</h1>
<i>{{ post.dateCreation|date:'d.m.Y H:i:s' }}</i>
<hr>
<p>
    {{ post.text|censor }}
</p>
<a href="{% url 'post_list' %}">к списку публикаций</a>
<hr>
{% if post.categoryType == "NW" %}
    <a href="{% url 'news_update' pk=post.id %}">редактировать</a>
    <a href="{% url 'news_delete' pk=post.id %}">удалить</a>
{% elif post.categoryType == "AR" %}
    <a href="{% url 'article_update' pk=post.id %}">редактировать</a>
    <a href="{% url 'article_delete' pk=post.id %}">удалить</a>
{% endif %}
{% endblock content %}