<!--  наследуемся от шаблона default.html -->
{% extends 'default.html' %}

{% load own_filters %}

<!-- Название страницы в теге title -->
{% block title %}
Post
{% endblock title %}

<!-- Здесь формируется контент страницы для записи, идентификатор которой был передан в url -->
{% block content %}
<h1>{{ post.title|censor }}</h1>
<i>{{ post.dateCreation|date:'d.m.Y H:i:s' }}</i>
<hr>
<p>
    {{ post.text|censor }}
</p>

<a href="{% url 'post_list' %}">к списку публикаций</a>
<hr>
{% if post.categoryType == "NW" %}
    {% if perms.news.change_post %}
        {% if user.username == post.author.user.username %}
            <a href="{% url 'news_update' pk=post.id %}">редактировать</a>
            {% if perms.news.delete_post %}
                <a href="{% url 'news_delete' pk=post.id %}">удалить</a>
            {% else %}
                <span>для удаления обратитесь к администратору</span>
            {% endif %}
        {% else %}
            <p>
                (c) by {{ post.author.user.username }}
            </p>
        {% endif %}
    {% endif %}
{% elif post.categoryType == "AR" %}
    {% if perms.news.change_post %}
        {% if user.username == post.author.user.username %}
            <a href="{% url 'article_update' pk=post.id %}">редактировать</a>
            {% if perms.news.delete_post %}
                <a href="{% url 'article_delete' pk=post.id %}">удалить</a>
            {% else %}
                <span>для удаления обратитесь к администратору</span>
            {% endif %}
        {% else %}
            <p>
                (c) by {{ post.author.user.username }}
            </p>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock content %}