<!--  наследуемся от шаблона default.html -->
{% extends 'default.html' %}

{% load own_filters %}
{% load own_tags %}

<!-- Название страницы в теге title -->
{% block title %}
Posts
{% endblock title %}

<!-- Здесь формируется контент страницы на основе полученного QuerySet-->
{% block content %}
<h1>Публикации</h1>
<h3>{{ time_now|date:'d.m.Y' }}</h3>
<a href="accounts/logout">{{ user }}</a>
{% load cache %}
{% cache 300 switch %}
<hr>
<form action="" method="get">
   {{ filterset.form.as_p }}
   <input type="submit" value="Отобразить" />
</form>
<hr>
{% endcache %}
{% if posts %}
    <table>
        <tr>
            <th>Заголовок</th>
            <th>Дата публикации</th>
            <th>Публикация</th>
            <th>Рейтинг</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td><a href="{{ post.pk }}">{{ post.title|truncatechars:80|censor }}</a></td>
            <td>{{ post.dateCreation|date:'d.m.Y H:i' }}</td>
            <td>{{ post.text|truncatewords:20|censor }}</td>
            <td>{{ post.rating }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Публикаций нет!</h2>
{% endif %}

{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number > 2 %}
        ...
    {% endif %}
    {% if page_obj.previous_page_number > 1 %}
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
    {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% endif %}
    {% if page_obj.next_page_number < page_obj.paginator.num_pages|add:-1 %}
        ...
    {% endif %}
    <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
<hr>
<a href="search">поиск</a>
{% if perms.news.add_post %}
    <a href="{% url 'news_create' %}">добавить новость</a>
    <a href="{% url 'article_create' %}">добавить статью</a>
{% endif %}
{% endblock content %}
